* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #f4f4f4;
}

.nav-logo {
    width: 250px;
    height: 77px;
}

nav {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    gap: 28vw;
    z-index: 1;
    height: 100px;
}

nav ul li {
    list-style: none;
}

nav ul li a {
    font-family: roboto;
    font-size: 20px;
    text-decoration: none;
    color: black;
}

nav ul {
    display: flex;
    gap: 40px;
}

.Download-btn {
    background-color: #ffc400;
    color: #811abb;
    font-weight: 500;
    padding: 10px 24px;
    border-radius: 10px;
}

/*  */
.hero-vid {
    width: 100%;
    height: 33vw;
    object-fit: cover;
    object-position: center;
}

/*  */
.container {
    background-color: #ffff;
    position: relative;
    width: 90%;
    max-width: 1000px;
    height: 377.32px;
    margin: -60px auto 0;
    border-radius: 12px;
    padding: 2rem;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
    z-index: 3;
}

.box {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 50px;
}

.container h2 {
    text-align: center;
    font-family: roboto;
    font-weight: bolder;
    font-size: 42px;
    color: #811abb;
}

.icon {
    width: 70px;
    height: 70px;
    margin-left: 5.5vw;
}

.icon-info {
    font-family: poppins;
    font-weight: 700;
    font-size: 19.2px;
    color: #811abb;
    text-align: center;
    width: 242px;
    height: 92.14px;
}

.container1 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 450px;
}

.container1 img {
    width: 324px;
    height: 140.33px;
}

.container1 h2 {
    font-family: roboto;
    font-weight: 700;
    font-size: 34px;
    color: #811abb;
    margin-top: 50px;
}

.container1 p {
    font-size: 16px;
    color: #212529;
    margin-top: 25px;
    font-family: poppins;
    font-weight: 400;
    text-align: center;
    width: 590px;
    line-height: 1.7;
}

/*  */
.container2 {
    width: 1520px;
    height: 448px;
    background-color: #811abb;
    margin-top: 17vh;
}
.container2 h2{
  font-family: roboto;
  font-size: 42px;
  color: white;
  font-weight: 700;
}